<a
	aria-current={Astro.url.pathname === "/" ? "page" : false}
	class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
	data-astro-prefetch
	href={Astro.url.pathname.includes("eng") ? "/eng" : "/"}
>
	Home
</a>

<a
	aria-current={Astro.url.pathname === "/about/" ? "page" : false}
	class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
	data-astro-prefetch
	href="/about/"
>
	About
</a>

<a
	aria-current={Astro.url.pathname === "/posts/" ? "page" : false}
	class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
	data-astro-prefetch
	href="/posts/"
>
	Blog
</a>

<a
	aria-current={Astro.url.pathname === "/notes/" ? "page" : false}
	class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
	data-astro-prefetch
	href="/notes/"
>
	Notes
</a>

<!-- 
<a
	aria-current={Astro.url.pathname === "/projects/" ? "page" : false}
	class="px-4 py-4 underline-offset-2 hover:underline sm:py-0"
	data-astro-prefetch
	href="/projects/"
>
	Projects
</a> -->
