---
import "../../styles/components/comment.css";
import FormattedDate from "../FormattedDate.astro";
interface Props {
  author: string;
  date: Date;
  content: string;
  dir?: "ltr" | "rtl";
}

const { author, date, content, dir } = Astro.props;
---

<div class="flex items-start space-x-4 my-16 text-xl font-bold" dir={dir}>
  <div class="flex-shrink-0">
    <img class="w-10 h-10 rounded-full" src="/user.png" />
  </div>
  <div class="flex-1 min-w-0">
    <div class="flex items-center justify-between">
      <span class="font-bold">{author}</span>
      <span class="text-l text-gray-500">
        <FormattedDate date={date} dir={dir ?? "ltr"} />
      </span>
    </div>
    <p class="my-8 comment-content">{content}</p>
  </div>
</div>