---
interface Props {
  error: any;
  comments: any[] | null;
  messages: {
    error: string;
    loading: string;
    noComments: string;
  };
}

const { error, comments, messages } = Astro.props;
---

{
  error && <div class="text-red-500">{messages.error}</div>
}
{
  !comments && !error && <div>{messages.loading}</div>
}
{
  !error && comments && comments.length === 0 && (
    <div class="text-gray-500">{messages.noComments}</div>
  )
}