---
import { Icon } from "astro-icon/components";
---

<div id="register-form" class="hidden">
	<h2 class="mb-4 text-center text-2xl font-bold">Register</h2>
	<form>
		<div class="mb-4">
			<label for="register-email" class="text-accent block text-m font-medium text-gray-700 dark:text-gray-300">Email</label>
			<input
				type="email"
				id="register-email"
				class="mt-1 block w-full rounded-md border border-gray-300  px-3 py-2 shadow-sm focus:border-accent focus:outline-none focus:ring-accent dark:border-gray-600  sm:text-m bg-global-bg2"
			/>
		</div>
		<div class="mb-4">
			<label for="register-password" class="text-accent block text-m font-medium text-gray-700 dark:text-gray-300">Password</label>
			<input
				type="password"
				id="register-password"
				class="mt-1 block w-full rounded-md border border-gray-300  px-3 py-2 shadow-sm focus:border-accent focus:outline-none focus:ring-accent dark:border-gray-600  sm:text-m bg-global-bg2"
			/>
		</div>
		<div class="mb-6">
			<label for="confirm-password" class="text-accent block text-m font-medium text-gray-700 dark:text-gray-300">Confirm Password</label>
			<input
				type="password"
				id="confirm-password"
				class="mt-1 block w-full rounded-md border border-gray-300  px-3 py-2 shadow-sm focus:border-accent focus:outline-none focus:ring-accent dark:border-gray-600  sm:text-m bg-global-bg2"
			/>
		</div>
		<button
			type="submit"
			class="w-full flex justify-center rounded-md border border-transparent bg-accent px-4 py-2 text-m font-medium text-white shadow-sm hover:bg-accent/65 focus:outline-none focus:ring-2 focus:ring-accent/50 focus:ring-offset-2 mb-4 text-center font-bold"
		>
			Register
		</button>
	</form>
    <div class="mt-6">
      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300 dark:border-gray-600"></div>
    </div>
    <div class="relative flex justify-center text-m">
          <button id="show-login" class="text-accent block text-m font-medium  text-m font-bold cursor-pointer"
              >Or Login Now!</button>
            </div>
    <div class="relative flex justify-center text-m">

     <span
						class="mt-8 text-accent/85 bg-global-bg/85 px-2 text-gray-500 backdrop-blur-sm dark:text-gray-400 text-m font-bold"
					>
						 Continue With
					</span>
				</div>
			</div>
			<div class="mt-6">
				<a
					href="#"
					class="w-full flex items-center justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-m font-medium text-gray-700 shadow-sm hover:bg-gray-50 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 text-m font-bold hover:bg-accent/65 focus:outline-none focus:ring-2 focus:ring-accent/50 focus:ring-offset-2"
				>
					<Icon name="mdi:google" class="mr-2 h-5 w-5 focus:border-accent focus:outline-none focus:ring-accent " />
					Google
				</a>
			</div>
</div>